<!DOCTYPE html>
{% load static %}

<html lang="ru">

<head>
    <meta charset="utf-8"/>
    <title>Geomagnet</title>


    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{% static "libs/bootstrap/bootstrap-grid-3.3.1.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
    <link href="{% static "libs/switch/switch.css" %}" rel="stylesheet"/>
</head>
<body>

<script src="{% static "libs/jquery/jquery-1.11.1.min.js" %}"></script>


<script src="https://js.arcgis.com/4.10/"></script>
<script type="text/javascript" src="{% static "wmm/script.js" %}"></script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEhtvfB8qhDSDgd9rZfNe5QaTvUIhr5vM"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?key=AIzaSyAEhtvfB8qhDSDgd9rZfNe5QaTvUIhr5vM"></script>


<div class="container-fluid">
    <div id="map" class="map">
        <div id="LocateButton" class="wow bounceInRight animated"></div>
    </div>
    <div class="row">
        <div id="menu_map" class="col-md-3"
             style="right:0px;max-width: 480px; min-width:300px; z-index:6; background-color: #d8d8d8; padding-top:5px;padding-bottom:45px;opacity:0.87;">
            <div style="width:90%;display:inline-block;color:green;text-align:center;" class="wow zoomIn animated">
                Geomagnetic Calculator
            </div>

            <div>

                <div class="col">


                    <div class="col-child">
                        <label class="switch">
                            <input id="switch_2d3d" type="checkbox" class="switch-input">
                            <!--onChange="check_switch_2d3d()"-->
                            <span class="switch-label" data-on="2D" data-off="3D"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>

                </div>
            </div>

            <div style="padding-top: 25px">
                <span class="simple-text">Isolines</span>
                <table>
                    <tr>
                        <td>

                            <label for="rb_epot">
                                Epot
                            </label>

                            <input id="rb_epot" type="radio" value="epot" name="type" checked
                                   style=" width: 14px; height:14px ; display: table-cell; text-align: center;  vertical-align: middle;">

                        </td>

                        <td>
                            <label for="rb_mpfac">MPfac</label>
                            <input id="rb_mpfac" type="radio" value="mpfac" name="type"
                                   style="width: 14px; height:14px ; display: table-cell;  text-align: center;  vertical-align: middle;">
                        </td>


                    </tr>
                </table>
            </div>


        </div>
    </div>


</div>

</body>
</html>